.cad-panel {
    text-align: center;
    width: 450px;
    min-height: 440px;
    padding: 50px 20px;
    margin: 100px auto 0 auto;
}

.cad-panel .ui-g .ui-g-12 {
    padding: 25px 40px;
}

.cad-panel .ui-g .ui-g-12 .ui-button {
    margin-bottom: 20px;
}

.senha-panel {
    text-align: center;
    width: 400px;
    min-height: 440px;
    padding: 50px 20px;
    margin: 100px auto 0 auto;
}

.senha-panel .ui-g .ui-g-12 {
    padding: 25px 40px;
}

.senha-panel .ui-g .ui-g-12 .ui-button {
    margin-bottom: 20px;
}
